@font-face {
  font-family: "Bebas Neue";
  src: url('../assets/fonts/bebas-neue/bebasneuebold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@import url('@fontsource/golos-text/400.css');
@import url('@fontsource/golos-text/500.css');
@import url('@fontsource/golos-text/600.css');
@import url('@fontsource/ibm-plex-sans/400.css');
@import url('@fontsource/ibm-plex-sans/500.css');
@import url('@fontsource/ibm-plex-sans/600.css');
@import url('@fontsource/ibm-plex-sans/700.css');
@import url('@fontsource/ibm-plex-mono/400.css');
