<nav class="mega-menu" id="mega-menu-products" data-mega-menu-panel aria-label="Каталог продукции" aria-labelledby="mega-menu-trigger-products" aria-hidden="true" hidden>
  <h2>Каталог продукции</h2>
  <a href="./catalog.html">Смотреть весь каталог</a>
  <div class="mega-menu-columns">
    <section><h3>Сетчатые ограждения</h3><ul>
      <li><a href="./catalog.html">3D сетка Гиттер</a><ul><li><a href="./catalog.html">С ППК покрытием</a></li><li><a href="./catalog.html">Оцинкованная</a></li><li><a href="./catalog.html">Оцинкованная с ТПП покрытием</a></li></ul></li>
      <li><a href="./catalog.html">2D сетка Спорт</a><ul><li><a href="./catalog.html">С ППК покрытием</a></li><li><a href="./catalog.html">Оцинкованная</a></li></ul></li>
      <li><a href="./catalog.html">Сетка сварная в рулонах</a></li><li><a href="./catalog.html">Сетка Рабица</a></li>
    </ul></section>
    <section><h3>Элементы ограждений</h3><ul>
      <li><a href="./catalog.html">Ворота и калитки</a><ul><li><a href="./catalog.html">Распашные ворота</a></li><li><a href="./catalog.html">Откатные ворота</a></li><li><a href="./catalog.html">Калитки</a></li><li><a href="./catalog.html">Фурнитура и комплектующие</a></li></ul></li>
      <li><a href="./catalog.html">Столбы для забора</a><ul><li><a href="./catalog.html">Лаги</a></li><li><a href="./catalog.html">Столбы</a></li></ul></li>
      <li><a href="./catalog.html">Сваи</a><ul><li><a href="./catalog.html">Винтовые</a></li><li><a href="./catalog.html">Саморезные</a></li></ul></li>
    </ul></section>
    <section><h3>Комплектующие и защита</h3><ul>
      <li><a href="./catalog.html">Крепёж</a><ul><li><a href="./catalog.html">Хомут П-образный</a></li><li><a href="./catalog.html">Скоба универсальная</a></li><li><a href="./catalog.html">Скоба Паук</a></li><li><a href="./catalog.html">Крепёж Люкс</a></li></ul></li>
      <li><a href="./catalog.html">Защита от БПЛА и дронов</a></li><li><a href="./catalog.html">Габионы</a></li><li><a href="./catalog.html">Защита периметра (барьеры)</a></li><li><a href="./catalog.html">Проволока</a></li>
    </ul></section>
  </div>
</nav>
